body, ul, li, p {
    font-family: arial;
    font-size: 1.2em;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.header{
    background-color: black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.menu{
    display: flex;
    

}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: tomato;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

/* CSS Flexbox*/

.flex {
 display: flex;
 flex-wrap: wrap;
 max-width: 800px;
 margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/* CSS Grid Layout */

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 780px;
    margin: 0 auto;
    gap: 20px;
}

.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

